@font-face {
    font-family: Reem Kufi;
    src: url(../fontes/Reem_Kufi/static/ReemKufi-Regular.ttf);
 }
 @font-face {
    font-family: Lato;
    src: url(../fontes/Lato/Lato-Regular.ttf);
 }


/* CSS reset */

*{
    border:0;
    margin:0;
    padding:0;
    }
body, html{
       height: auto;
        width: auto;
        
      }
      
body {
    background-color:#F0F1F1 ;
    border:1px solid #000;
    overflow-x:hidden;
}
main {
    font-family: Arial;
   
    width: 1134px;
    position: relative;
    margin: auto;
}
    
#section_1 {
  text-align: center;
}

#contato_imprensa{
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
font-family: 'Lato';
color: #024591;
}

#telefones  a{
    font-family: 'Reem Kufi';
   float: left;
   font-weight: 400;
font-size: 32px;
line-height: 48px;
margin-left: 8px;



}
#telefones p span {
  color: #024591;

}
#telefones  img{
    float: left;
    margin-left: 39px;
 }

 


 #telefones  p{
     margin-top:86px;
     margin-left: 86px;
    font-family: 'Reem Kufi';
    clear: both;
    font-style: normal;
    text-align: left;
    font-weight: 400;
font-size: 24px;
line-height: 36px;
color: #000;


 }

article {
    margin-top: 67px;
    width: 100%;
    height: 404px;
    border:1px solid #000;
    margin-left:0%;
    border-radius: 20px;
    background-color: #fff;
}

#sala_de_imprensa img {
    float: left;
    margin-top: 4px;
    margin-left: 20px;
   
}

#sala_de_imprensa a {
    float: left;
    width: 71%;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    font-family: 'Reem Kufi';
}

#sala_de_imprensa button{
    font-family: 'Reem Kufi';
    display: flex;
    padding-left: 10px;
    
    clear: both;
    font-weight: 400;
    font-size: 24px;
    color: #024591;
    margin-left: 53px;
    background-color: #fff;
    font-weight: bold;
    text-align: left;
  

}







#sala_de_imprensa{
     width: 438px;
    height:340px;
    border-right: 1px solid #000;
    float: left;
    margin-top: 34px;
    
}
#telefones {
    margin-top: 34px;
    width: 688px;
    height:340px;
    float: left;
 
}

#section_2 {
    font-family: 'Lato';
    
    margin-top: 101px;
    display: flex;
    flex-direction:column;
}

#contato {
    font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 50.4px;
color: #024591;
text-shadow: 1px 1px black;


}
#borda{
    margin-top: 24px;
    background-color: #024591;
    height: 9px;
    width: 187px;
    border-radius: 5px;


}
#section_2 a {
    

     margin-top: 40px
}
#section_2 p strong {
    color: red;
   
}
#section_2 p {
    font-family: 'Lato';
    margin-top:54px;
    font-size: 25px;

}
#section_2 input {
    width: 828px;
    height:55px;
    border: 1px  solid #000;
}

#section_2 ul {
    display: flex;
    
    flex-direction: column;
    width: 860px;
}
#section_2 ul a{
    font-size: 24px;
    
  

}


#section_2 ul li {
   margin-top: 19px;
   list-style: none;
   font-size: 25px;
   width: 103%;

}

#entre_contato {
    font-size: 25px;
}
ul #area{
    width: 838px;
    display: grid;  /* para deixar caixas encaixadas*/
    grid-template-columns: 1fr 1fr; 
}



#area li input {
  
  width:407px;
    
}

#mensagem input {
    width: 828px;
    border-radius: 10px;
    height: 405px;
}

#enviar {
    width: 142px;
    height: 58px;
    color: #fff;
    background-color: #024591;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    margin-top: 44px;
    justify-content: center;
  align-items: center;
  display: flex;

}

a#a_assesoria {
    margin-top:83px;

}


/*TABLET */
@media only screen and (max-width: 1240px) and (min-width: 501px) {
    body {
        width: 99%;
        overflow-x:hidden;
        margin: auto;
    }
    
    main {
        
        width: 80%;
        margin: auto;
    }   
    #section_2 p {
        width: 100%;
    }
    
    #sala_de_imprensa button {

        margin-left: 5%;
    }
    
    article{
           width:100%
          
           
       }
       
       #sala_de_imprensa{
        width: 38%;
       
      
   }
   #telefones {
    width: 58%;
    
    
    

}


#sala_de_imprensa a {
  
    width: 65%;
    
}

#section_2 {

    width: 100%;
}


ul #area {
    width: 100%;
    display: flex;
}
#section_2 input {
    width: 100%;
    
}
a#a_assesoria {
    
    width:90%;
}
#section_2 input {
    width: 100%;
   
}
#section_2 a {
    width: 80%;
}

#area li input {
    width: 112%;
}

#section_2 ul a{
    width: 100%;



}
#section_2 ul {
    display: flex;
    flex-direction: column;
    width:90%;
}

}

@media only screen and (max-width: 775px) and (min-width: 501px) {

    #sala_de_imprensa img {
        display: none;
        
   
    }

    #sala_de_imprensa a {
      
    
        
        font-size: 26px;
        width: 100%;
    }
    #sala_de_imprensa button {

        margin-left: 0%;
    }

    #telefones img {

        display:none;
    }
    #telefones a {
        width: 100%;
    }
    
#telefones p {
    margin-left: 20px;
    text-align: left;
}

}
/*MOBILE */
@media only screen and (max-width: 500px) {
    main {
        width: 80%;
  
    }   
    
    #sala_de_imprensa button {
        margin-left: 0%;
        font-size: 15px;
        margin-top: 7px;
    }


    #telefones {
margin-top:31px;

        
    }

    #telefones p {
        margin-top: 54px;
        margin-left: 12px;
    }

    article{

        height: 523px;
    }


    #telefones img {

        margin-left:8px;
    }

    #contato_imprensa{
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 50px;
       
        -webkit-text-stroke: 1px #000;

        }
    
    article{
           width:100%;
         
           
       }
    
       #sala_de_imprensa{
        width: 90%;
        height:45%;
        border-bottom: 1px solid #000;
        
        border-right:none;
        margin-left: 5%;
   }
   #telefones {
    width: 90%;
    height:25%;
    
    
    margin-left: 5%;

}

#borda {

    margin: auto;


   
    

}
#section_2 a {
    margin-top: 20px;
   
    width: 100%;
}
#contato {
    text-align: center;
    
    
}


#entre_contato {
    height: 20px;
    font-style: normal;
font-weight: 400;
font-size: 20px;

text-align: center;
}
a#entre_contato {

    height: 53px;
}


#section_2 {
    margin-top:24px;
    width: 100%;
}


ul #area {
    width: 100%;
    display: flex;
}
#section_2 input {
    width: 90%;
    
}
a#a_assesoria {
    
    width:90%;
}
#section_2 input {
    width: 100%;
   
}

#section_2 p {
    margin-top: 44px;
    font-size: 20px;
    width: 103%;
    text-align: center;
}
 
#area li input {
  
        width: 100%;
}

#section_2 ul a{
    width: 100%;
    font-size: 15px;


}
#section_2 ul {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

a#a_assesoria {
    font-style: normal;
font-weight: 400;
font-size: 15px;
text-align: left;

}
#enviar {
    margin:auto;
    margin-top:31px;
}
#sala_de_imprensa img {
    display: flex;
    margin-top: -11px;
    margin-left: 3px;
    display: flex;
}

#sala_de_imprensa a {
    font-size: 25px;
    width: 85%;
    margin-top: -14px;3

}
#telefones p span {
    color: #000;
  
  }
}

@media only screen and (max-width: 427px) {

#sala_de_imprensa img {
    display: none;
    width: 100%;
}

#sala_de_imprensa a {

    width: 100%
   
}


}
@media only screen and (max-width: 340px) {

    #sala_de_imprensa a {
        font-size: 20px;
    
    }



}