* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lato';
    text-align: center;
    text-decoration: none;
}

html,body{
	width: 100%;
    background-color: #F0F1F1;
}

main {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    max-width: 1920px;
    background-color: #F0F1F1;
}
.desktop {
    position: relative;
    width: 100%;
    height: 75px;
    font-size: 12px;
    margin-top: 20px;
    margin-left: -30px;
}

.paginas, .links,img{
	text-decoration: none;
	color: black;
	list-style-type: none;
    font-size: 15px;
    vertical-align: middle;
    padding: 0 15px;
}

.links:hover{color: #FF0011;}

.select:hover{color: #FF0011;}

.select{color: #FF0011;}

.botao-cidadao{
    background-color: #fff;
    border: black 1.5px solid;
    border-radius: 20px;
    width: 135px;
    height: 40px;
    text-decoration: none;
	color: black;
    font-size: 15px;
    padding: 0 15px;
	color: black;
	list-style-type: none;
    cursor: pointer;
}

.botao-cidadao a{
    text-decoration: none;
	color: black;
	list-style-type: none;
    cursor: pointer;
}

.mobile{
    position: relative;
    display: none;
}

.navbar{
    position: relative;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: #fff;
    border: 1px solid;
    box-shadow: 0px 1px 5px #000;
    font-size: 16px;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px auto;
    background-color: #000;
}

.logo-mobile{
    width: 140px;
    height: auto;
}

.icone-busca{
    width: auto;
    height: auto;
    margin-left: -25px;
    cursor: pointer;
}
/* FIM DO TRATAMENTO */

/* TRATAMENTO DO TÍTULO E SUB-TÍTULO */
.text-tltle-sub{
    margin-top: 50px;
    text-align: center;
}
.title-principal{
    color: #024591;
    font-size: 35px;
    margin-top: 30px;
    padding: 0 2%;
    font-weight: bold;
}
.sub-title{
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
    width: 80%;
    margin: 30px auto;
}
hr{
    width: 70%;
    height: 5px;
    margin: 10px auto;
    background-color: #024591;
}
/* FIM DO TRATAMENTO */



/* TRATAMENTO DO "NÚMEROS DO ESTADO" */
.numeros_estado .title-numeros p{
    color: #024591;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.img-numeros{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.title-img{
    font-size: 24px;
}
.grid-text{
    display: flex;
    text-align: start;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}
.grid-text p{
    width: 100%;
}
.img-numeros .grid{
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.img-numeros .grid img{
    width: 75px;
}
/* FIM DO TRATAMENTO */



/* TRATAMENTO DAS IMAGENS DOS LOCAIS */
.images{
    width: 100%;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;    
}
.locais{
    width: 33%;
    margin-bottom: 90px;
}
.locais img{
    border-radius: 30px;
    width: 65%;
}
.locais-text{
    padding: 10px;
    height: 100%;
}
.locais-text p{
    font-size: 28px;
}
.img-historia{
    height: 92.5%;
    margin-top: -10px;
}
a{
    font-weight: bold;
    color: #000;
}
a:hover{
    color: #024591;
}
/* FIM DO TRATAMENTO */

/* TRATAMENTO FOOTER */
.rodape{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #000000;
}

.link-rodape{
    height: auto;
    padding-top: 50px;
}

.link-rodape a{
    font-size: 20px;
    padding: 0px 25px;
    cursor: pointer;
    text-decoration: none;
}

.links-rodape{
    color: white;
    font-size: 20px;
    padding: 0px 25px;
    cursor: pointer;
    text-decoration: none;
}

.links-rodape:hover{
    font-size: 20px;
    padding: 0px 25px;
    cursor: pointer;
    text-decoration: none;
    color: #FF0011;
}

.icones-branco{
    width: 50%;
    height: auto;
    float: left;
    margin: auto;
    margin-top: 180px;
    padding: 0  10px;
    padding-left: 5%;
}

.icones-branco img{
    float: left;
    padding: 0 10px;
    margin-top: 20px;
}

.icones-branco p{
    float: left;
    padding: 0 10px;
    font-size: 20px;
    color: white;
    line-height: 70px;
}

.contatos{
    width: 50%;
    height: auto;
    float: right;
    margin-top: 165px;
    padding-left: 1%;
    display: block;
    padding-left: 5%;
}

.contatos h1{
    float: left;
    padding: 0 10px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    color: white;
    line-height: 60px;
}

.contatos img{
    float: left;
    padding: 0 10px;
}
/* FIM DO TRATAMENTO */

/* MOBILE 480 */
@media screen and (max-width: 480px){    
    .contatos h1{
        font-size: 17px;
    }
}

/* DESKTOP */
@media (min-width:1350px){
    .title-principal{
        width: 60%;
        margin: 10px auto;
        text-align: center;
    }
    .sub-title{
        width: 60%;
        margin: 10px auto;
        text-align: center;
    }    
    .img-numeros{
        width: 70%;
        margin: 50px auto;
        gap: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:768px){
    .hamburger {
        display: block;
        padding:  0 1%;
    }    
    
    .mobile{   
        display: block;  
        z-index: 99;
    }

    .desktop{display: none;}
    
    .navbar{
        position: fixed;
        width: 100%;
        top: 0;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
    }

    .nav-menu.active{
        right: 0;
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: #fff;
        width: 40%;
        text-align: center;
        transition: 0.3s;
        list-style-type: none;
    }
    .nav-link{
        font-size: 16px;
        text-decoration: none;
    }

    .nav-link:hover{font-size: 24px;}
    
    .nav-item{
        width: 100%;
        margin: 5px 0;
        padding: 10px 0;
        border-bottom: #000 1px solid;    
    }

    .nav-branding {border: solid;}    
   
    .rodape{
        position: absolute;
        width: 100%;
        display: block;
        height: auto;
    }
    
    .link-rodape{display: none;}   
   
    .icones-branco{
        width: 100%;
        height: auto;
        float: none;
        margin: auto;
        margin-top: 50px;
        padding: 0 5%;
    }
    
    .icones-branco img{
        float: left;
        padding: 0 10px;
        margin-top: 20px;
    }
    
    .icones-branco p{
        float: left;
        padding: 0 5px;
        font-size: 20px;
        line-height: 70px;
    }
    
    .contatos{
        width: 100%;
        float: none;
        margin-top: 180px;
        padding: 0 30px;
    }

    .palavras{
        width: 100%;
        margin-top: 20px;
    }
    
    .contatos h1{
        float: left;
        padding: 0 3%;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 300;
        color: white;
        line-height: 60px;
    }
  
    .contatos img{
        float: none;
        margin: 20px auto;
        padding: 0 0%;
    }
    .title-principal{
        margin-top: 150px;
    }
    .img-historia{
        height: 82%;
    }
    .images{
        width: 100%;
    }
    .locais {
        width: 100%;
    }
    .locais img{
        width: 65%;
    }
    .locais p{
        font-size: 30px;
    }

}

@media screen and (min-width: 770px) {
    @media screen and (max-width: 1180px){
    
        .hamburger {
            display: block;
            padding:  0 1%;
        }    
        
        .mobile{   
            display: block;  
            z-index: 99;
        }
    
        .desktop{display: none;}
        
        .navbar{
            position: fixed;
            width: 100%;
            top: 0;
        }
    
        .hamburger.active .bar:nth-child(2){opacity: 0;}
    
        .hamburger.active .bar:nth-child(1){transform: translateY(10px) rotate(45deg);}
    
        .hamburger.active .bar:nth-child(3){transform: translateY(-10px) rotate(-45deg);}
    
        .nav-menu.active{right: 0;}
    
        .nav-menu{
            position: fixed;
            right: -100%;
            top: 100px;
            gap: 0;
            flex-direction: column;
            background-color: #fff;
            width: 40%;
            text-align: center;
            transition: 0.3s;
            list-style-type: none;
        }
    
        .nav-link{
            font-weight: bold;    
            font-size: 16px;
            text-decoration: none;
        }
    
        .nav-link:hover{font-size: 24px;}
        
        .nav-item{
            width: 100%;
            margin: 5px 0;
            padding: 10px 0;
            border-bottom: #000 1px solid;        
        }
    
        .nav-branding{border: solid;}    

        .rodape{
            position: absolute;
            width: 100%;
            height: auto;
        }
        
        .link-rodape{
            display: none;
        }   
       
        .icones-branco{
            width: 100%;
            float: none;
            margin: auto;
            margin-top: 50px;
        }
        
        .icones-branco img{
            float: left;
            padding: 0 10px;
            margin-top: 20px;
        }
        
        .icones-branco p{
            float: left;
            padding: 0 5px;
            font-size: 20px;
            line-height: 70px;
        }
        
        .contatos{
            width: 100%;
            float: none;
            margin-top: 150px;
            padding: 0 30px;
        }
    
        .palavras{
            padding-left: 10%;
        }
        
        .contatos h1{
            float: left;
            padding: 0 2%;
            margin: 0 auto;
            margin-top: 20px;
            font-size: 20px;
            font-weight: 300;
            line-height: 60px;
        }
    
        .logo-branca{
            width: 100%;
        }
        
        .contatos img{
            float: none;
            margin: 20px auto;
            padding: 0 0%;
            clear: both;
        }

        .title-principal{
            margin-top: 150px;
        }

        .img-historia{
            height: 80%;
        }

        .locais img{
            width: 85%;
        }

        .locais-text p{
            font-size: 28px;
        }
    }
}

@media screen and (max-width: 480px){    
    .contatos h1{font-size: 17px;}
}

@media(max-width:1023px){
    @media (min-width: 768px){
        .images{
            width: 100%;
        }
        .locais{
            width: 33%;
        }
        .locais p{
            font-size: 24px;
        }
    }
}